@model Toolivahendus2.Models.TooliVahendus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TooliVahendus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Eesnimi" class="control-label"></label>
                <input asp-for="Eesnimi" class="form-control" />
                <span asp-validation-for="Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perekonnanimi" class="control-label"></label>
                <input asp-for="Perekonnanimi" class="form-control" />
                <span asp-validation-for="Perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toon" class="control-label"></label>
                <input asp-for="Toon" class="form-control" />
                <span asp-validation-for="Toon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tellimuskogus" class="control-label"></label>
                <input asp-for="Tellimuskogus" class="form-control" />
                <span asp-validation-for="Tellimuskogus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firmanimi" class="control-label"></label>
                <input asp-for="Firmanimi" class="form-control" />
                <span asp-validation-for="Firmanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firmaemail" class="control-label"></label>
                <input asp-for="Firmaemail" class="form-control" />
                <span asp-validation-for="Firmaemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valminudkogus" class="control-label"></label>
                <input asp-for="Valminudkogus" class="form-control" />
                <span asp-validation-for="Valminudkogus" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
