@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        <div class="col-sm-12">

        </div>
        <div class="col-sm-12">

        </div>
        <div class="col-sm-12">
            <p>
                <a asp-controller="TooliVahendus" asp-action="Create">Create New</a>
            </p>
        </div>

        <div class="col-sm-12">
            <form asp-controller="Actors" asp-action="Index" method="get">
                <p>

                    <select  >
                        <option value="">All</option>
                    </select>

                    Firma nimi: <input type="text"  />
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </div>
    </div>
</div>